* {
  box-sizing: border-box;
}

// body vars
body {
  color: var(--color-grey-80);
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
}

a {
  @include anchor-base;
}

button {
  appearance: none;
  background: transparent;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-base;
}

h1 {
  @include heading-xl;
  margin-bottom: var(--space-lg);
}

h2 {
  @include heading-lg;
  margin-bottom: var(--space-lg);
}

h3 {
  @include heading-md;
  margin-bottom: var(--space-md);
}

h4 {
  @include heading-sm;
  margin-bottom: var(--space-md);
}

h5,
h6 {
  @include heading-xs;
}
