.sb-swatch-grid {
  display: grid;
  grid-auto-flow: column;
  grid-row-gap: var(--space-lg);
  grid-template-rows: repeat(10, 1fr);
  list-style: none;
  margin: 0 0 var(--space-xl);
  padding: 0;
}

.sb-swatch {
  margin: 0;
}

.sb-swatch__color {
  flex-shrink: 0;
  height: calc(6 * var(--space-unit));
  margin-bottom: var(--space-md);
  margin-right: var(--space-md);
  width: calc(6 * var(--space-unit));
}

.sb-variable {
  white-space: nowrap;
}

.sb-swatch__name {
  color: var(--color-grey-70);
  display: block;
  font-family: var(--font-tertiary);
  font-size: var(--font-size-body-xs);
  margin-right: var(--space-md);
}

dl {
  margin: 0;
}

dd {
  margin: 0;
}