@import '../../styles/common';

.ds-test {
  @include heading-lg;
  background-color: var(--color-green-50);
  border-radius: calc(0.5 * var(--space-unit));
  color: var(--color-green-20);
  font-family: var(--font-secondary);
  font-size: var(--font-size-body-md);
  padding: var(--space-lg);
}
