@import '../../styles/common';

:root {
  --button-bgcolor-primary: var(--color-amber-30);
  --button-bgcolor-primary-active: var(--color-amber-30);
  --button-bgcolor-primary-focus: var(--color-amber-30);
  --button-bgcolor-primary-hover: var(--color-amber-20);
  --button-bgcolor-primary-disabled: var(--color-grey-20);

  --button-bgcolor-secondary: var(--color-amber-20);
  --button-bgcolor-secondary-active: var(--color-amber-20);
  --button-bgcolor-secondary-focus: var(--color-amber-20);
  --button-bgcolor-secondary-hover: var(--color-amber-10);
  --button-bgcolor-secondary-disabled: var(--color-grey-10);

  --button-bgcolor-tertiary: transparent;
  --button-bgcolor-tertiary-active: var(--color-amber-10);
  --button-bgcolor-tertiary-focus: transparent;
  --button-bgcolor-tertiary-hover: var(--color-amber-05);
  --button-bgcolor-tertiary-disabled: transparent;

  --button-color-primary: var(--color-grey-80);
  --button-color-primary-active: var(--color-grey-80);
  --button-color-primary-focus: var(--color-grey-80);
  --button-color-primary-hover: var(--color-grey-80);
  --button-color-primary-disabled: var(--color-grey-40);

  --button-color-secondary: var(--color-grey-80);
  --button-color-secondary-active: var(--color-grey-80);
  --button-color-secondary-focus: var(--color-grey-80);
  --button-color-secondary-hover: var(--color-grey-80);
  --button-color-secondary-disabled: var(--color-grey-40);

  --button-color-tertiary: var(--color-grey-80);
  --button-color-tertiary-active: var(--color-grey-80);
  --button-color-tertiary-focus: var(--color-grey-80);
  --button-color-tertiary-hover: var(--color-grey-80);
  --button-color-tertiary-disabled: var(--color-grey-40);
}

.ds-btn {
  @include btn-base;
  border-radius: calc(0.25 * var(--space-unit));
  display: inline-flex;
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  transition: ease var(--transition-duration);
  transition-property: background-color;

  &:focus {
    outline: 2px solid var(--color-link-focus-outline);
    outline-offset: calc(0.5 * var(--space-unit));
  }
}

.ds-btn[disabled] {
  cursor: not-allowed;
}

.ds-btn--primary,
.ds-btn--secondary,
.ds-btn--tertiary {
  @include btn-size-standard;
  padding: 0 calc(2 * var(--space-unit));
}

.ds-btn--primary {
  background-color: var(--button-bgcolor-primary);
  color: var(--button-color-primary);

  &:hover {
    background-color: var(--button-bgcolor-primary-hover);
    color: var(--button-color-primary-hover);
  }

  &:focus {
    background-color: var(--button-bgcolor-primary-focus);
    color: var(--button-color-primary-focus);
  }

  &:active {
    background-color: var(--button-bgcolor-primary-active);
    color: var(--button-color-primary-active);
  }

  &[disabled] {
    background-color: var(--button-bgcolor-primary-disabled);
    color: var(--button-color-primary-disabled);
  }
}

.ds-btn--secondary {
  background-color: var(--button-bgcolor-secondary);
  color: var(--button-color-secondary);

  &:hover {
    background-color: var(--button-bgcolor-secondary-hover);
    color: var(--button-color-secondary-hover);
  }

  &:focus {
    background-color: var(--button-bgcolor-secondary-focus);
    color: var(--button-color-secondary-focus);
  }

  &:active {
    background-color: var(--button-bgcolor-secondary-active);
    color: var(--button-color-secondary-active);
  }

  &[disabled] {
    background-color: var(--button-bgcolor-secondary-disabled);
    color: var(--button-color-secondary-disabled);
  }
}

.ds-btn--tertiary {
  background-color: var(--button-bgcolor-tertiary);
  color: var(--button-color-tertiary);

  &:hover {
    background-color: var(--button-bgcolor-tertiary-hover);
    color: var(--button-color-tertiary-hover);
  }

  &:focus {
    background-color: var(--button-bgcolor-tertiary-focus);
    color: var(--button-color-tertiary-focus);
  }

  &:active {
    background-color: var(--button-bgcolor-tertiary-active);
    color: var(--button-color-tertiary-active);
  }

  &[disabled] {
    background-color: var(--button-bgcolor-tertiary-disabled);
    color: var(--button-color-tertiary-disabled);
  }
}

.ds-btn--tertiary .ds-btn__text {
  border-bottom: 1px solid var(--button-color-tertiary);
  transition: ease var(--transition-duration);
  transition-property: border-bottom-color;
}

.ds-btn--tertiary:hover .ds-btn__text,
.ds-btn--tertiary:active .ds-btn__text,
.ds-btn--tertiary[disabled] .ds-btn__text {
  border-bottom-color: var(--button-bgcolor-tertiary-focus);
}

.ds-btn--link {
  @include animated-link($child-selector: '.ds-btn__text');
}

.ds-btn__icon--left {
  margin-right: calc(1.5 * var(--space-unit));
}

.ds-btn__icon--right {
  margin-left: calc(1.5 * var(--space-unit));
}


// Call To Action wrapper styles

// .ds-cta {
//   text-align: center;
// }

// .ds-info-box .ds-cta {
//   margin: calc(4 * var(--space-unit)) 0;

//   &:last-child {
//     margin-bottom: 0;
//   }
// }
