@import '../../styles/common';

.ds-btn {
  @include btn-base;
  border-radius: calc(0.25 * var(--space-unit));
  display: inline-flex;
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  transition: ease var(--transition-duration);
  transition-property: background-color;

  &:focus {
    outline-color: var(--link-colour-focus-outline);
    outline-offset: calc(0.5 * var(--space-unit));
  }
}

.ds-btn[disabled] {
  cursor: not-allowed;
}

.ds-btn--primary,
.ds-btn--secondary,
.ds-btn--tertiary {
  @include btn-size-standard;
  padding: 0 calc(2 * var(--space-unit));
}

.ds-btn--primary {
  background-color: var(--bgcolour-button-primary);
  color: var(--colour-button-primary);

  &:hover {
    background-color: var(--bgcolour-button-primary-hover);
    color: var(--colour-button-primary-hover);
  }

  &:focus {
    background-color: var(--bgcolour-button-primary-focus);
    color: var(--colour-button-primary-focus);
  }

  &:active {
    background-color: var(--bgcolour-button-primary-active);
    color: var(--colour-button-primary-active);
  }

  &[disabled] {
    background-color: var(--bgcolour-button-primary-disabled);
    color: var(--colour-button-primary-disabled);
  }
}

.ds-btn--secondary {
  background-color: var(--bgcolour-button-secondary);
  color: var(--colour-button-secondary);

  &:hover {
    background-color: var(--bgcolour-button-secondary-hover);
    color: var(--colour-button-secondary-hover);
  }

  &:focus {
    background-color: var(--bgcolour-button-secondary-focus);
    color: var(--colour-button-secondary-focus);
  }

  &:active {
    background-color: var(--bgcolour-button-secondary-active);
    color: var(--colour-button-secondary-active);
  }

  &[disabled] {
    background-color: var(--bgcolour-button-secondary-disabled);
    color: var(--colour-button-secondary-disabled);
  }
}

.ds-btn--tertiary {
  background-color: var(--bgcolour-button-tertiary);
  color: var(--colour-button-tertiary);

  &:hover {
    background-color: var(--bgcolour-button-tertiary-hover);
    color: var(--colour-button-tertiary-hover);
  }

  &:focus {
    background-color: var(--bgcolour-button-tertiary-focus);
    color: var(--colour-button-tertiary-focus);
  }

  &:active {
    background-color: var(--bgcolour-button-tertiary-active);
    color: var(--colour-button-tertiary-active);
  }

  &[disabled] {
    background-color: var(--bgcolour-button-tertiary-disabled);
    color: var(--colour-button-tertiary-disabled);
  }
}

.ds-btn--tertiary .ds-btn__text {
  border-bottom: 1px solid var(--colour-button-tertiary);
  transition: ease var(--transition-duration);
  transition-property: border-bottom-color;
}

.ds-btn--tertiary:hover .ds-btn__text,
.ds-btn--tertiary:active .ds-btn__text,
.ds-btn--tertiary[disabled] .ds-btn__text {
  border-bottom-color: var(--bgcolour-button-tertiary-focus);
}

.ds-btn--link {
  @include animated-link($child-selector: '.ds-btn__text');
}

.ds-btn__icon--left {
  margin-right: calc(1.5 * var(--space-unit));
}

.ds-btn__icon--right {
  margin-left: calc(1.5 * var(--space-unit));
}


// Call To Action wrapper styles

.ds-cta {
  text-align: center;
}

// .ds-info-box .ds-cta {
//   margin: calc(4 * var(--space-unit)) 0;

//   &:last-child {
//     margin-bottom: 0;
//   }
// }
