@import '../../styles/common';

// Proof of concept for less CSS variable usage and greater flexibility
// resulting in reduction of code

.ds-btn {
  --button-colour: var(--colour-grey-80);

  @include btn-base;
  background-color: var(--button-bgcolour, transparent);
  border-radius: calc(0.25 * var(--space-unit));
  color: var(--button-colour);
  display: inline-flex;
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  transition: ease var(--transition-duration);
  transition-property: background-color;

  &:focus {
    outline-color: var(--link-colour-focus-outline);
    outline-offset: calc(0.5 * var(--space-unit));
  }
}

.ds-btn[disabled] {
  cursor: not-allowed;
}

.ds-btn--primary,
.ds-btn--secondary,
.ds-btn--tertiary {
  @include btn-size-standard;
  padding: 0 calc(2 * var(--space-unit));
}

.ds-btn--primary {
  --button-bgcolour: var(--colour-amber-30);

  &:hover {
    --button-bgcolour: var(--colour-amber-20);
  }

  &:active {
    --button-bgcolour: var(--colour-amber-30);
  }

  &[disabled] {
    --button-bgcolour: var(--colour-grey-20);
    --button-colour: var(--colour-grey-40);
  }
}

.ds-btn--secondary {
  --button-bgcolour: var(--colour-amber-20);

  &:hover {
    --button-bgcolour: var(--colour-amber-10);
    --button-colour: var(--colour-grey-80);  
  }

  &:active {
    --button-bgcolour: var(--colour-amber-20);
  }

  &[disabled] {
    --button-bgcolour: var(--colour-grey-10);
    --button-colour: var(--colour-grey-40);  
  }
}

.ds-btn--tertiary {
  --button-bgcolour: transparent;
  --button-colour: var(--colour-grey-80);

  &:hover {
    --button-bgcolour: var(--colour-amber-05);
  }

  &:active {
    --button-bgcolour: var(--colour-amber-10);
  }

  &[disabled] {
    --button-bgcolour: transparent;
    --button-colour: var(--colour-grey-40);
  }
}

.ds-btn--tertiary .ds-btn__text {
  border-bottom: 1px solid var(--button-colour);
  transition: ease var(--transition-duration);
  transition-property: border-bottom-color;
}

.ds-btn--tertiary:hover .ds-btn__text,
.ds-btn--tertiary[disabled] .ds-btn__text {
  border-bottom-color: var(--button-bgcolour);
}

.ds-btn--link {
  @include animated-link($child-selector: '.ds-btn__text');
}

.ds-btn__icon--left {
  margin-right: calc(1.5 * var(--space-unit));
}

.ds-btn__icon--right {
  margin-left: calc(1.5 * var(--space-unit));
}

// Call To Action wrapper styles

// .ds-cta {
//   text-align: center;
// }

// .ds-info-box .ds-cta {
//   margin: calc(4 * var(--space-unit)) 0;

//   &:last-child {
//     margin-bottom: 0;
//   }
// }
