// ----------------------------------
// UI Settings
// Colours
// ----------------------------------
// Design System 1.0 Alpha
// 2021-05-01
// ----------------------------------

:root {
  /* Legacy color mapping
  --color-black: #000;
  --color-black-rgb: 0, 0, 0;
  --color-white: #fff;
  --color-white-rgb: 255, 255, 255;

  --color-amber-90: var(--color-legacy-amber-90);
  --color-amber-80: var(--color-legacy-amber-80);
  --color-amber-70: var(--color-legacy-amber-70);
  --color-amber-60: var(--color-legacy-amber-60);
  --color-amber-50: var(--color-legacy-amber-50);
  --color-amber-40: var(--color-legacy-amber-40);
  --color-amber-30: var(--color-legacy-amber-30);
  --color-amber-20: var(--color-legacy-amber-20);
  --color-amber-10: var(--color-legacy-amber-10);
  --color-amber-05: var(--color-legacy-amber-05);

  --color-blue-90: var(--color-legacy-blue-90);
  --color-blue-80: var(--color-legacy-blue-80);
  --color-blue-70: var(--color-legacy-blue-70);
  --color-blue-60: var(--color-legacy-blue-60);
  --color-blue-50: var(--color-legacy-blue-50);
  --color-blue-40: var(--color-legacy-blue-40);
  --color-blue-30: var(--color-legacy-blue-30);
  --color-blue-20: var(--color-legacy-blue-20);
  --color-blue-10: var(--color-legacy-blue-10);
  --color-blue-05: var(--color-legacy-blue-05);

  --color-cyan-90: var(--color-legacy-cyan-90);
  --color-cyan-80: var(--color-legacy-cyan-80);
  --color-cyan-70: var(--color-legacy-cyan-70);
  --color-cyan-60: var(--color-legacy-cyan-60);
  --color-cyan-50: var(--color-legacy-cyan-50);
  --color-cyan-40: var(--color-legacy-cyan-40);
  --color-cyan-30: var(--color-legacy-cyan-30);
  --color-cyan-20: var(--color-legacy-cyan-20);
  --color-cyan-10: var(--color-legacy-cyan-10);
  --color-cyan-05: var(--color-legacy-cyan-05);

  --color-green-90: var(--color-legacy-green-90);
  --color-green-80: var(--color-legacy-green-80);
  --color-green-70: var(--color-legacy-green-70);
  --color-green-60: var(--color-legacy-green-60);
  --color-green-50: var(--color-legacy-green-50);
  --color-green-40: var(--color-legacy-green-40);
  --color-green-30: var(--color-legacy-green-30);
  --color-green-20: var(--color-legacy-green-20);
  --color-green-10: var(--color-legacy-green-10);
  --color-green-05: var(--color-legacy-green-05);

  --color-grey-90: var(--color-legacy-grey-90);
  --color-grey-80: var(--color-legacy-grey-80);
  --color-grey-70: var(--color-legacy-grey-70);
  --color-grey-60: var(--color-legacy-grey-60);
  --color-grey-60-rgb: var(--color-legacy-grey-60-rgb);
  --color-grey-50: var(--color-legacy-grey-50);
  --color-grey-40: var(--color-legacy-grey-40);
  --color-grey-30: var(--color-legacy-grey-30);
  --color-grey-20: var(--color-legacy-grey-20);
  --color-grey-10: var(--color-legacy-grey-10);
  --color-grey-05: var(--color-legacy-grey-05);

  --color-orange-90: var(--color-legacy-orange-90);
  --color-orange-80: var(--color-legacy-orange-80);
  --color-orange-70: var(--color-legacy-orange-70);
  --color-orange-60: var(--color-legacy-orange-60);
  --color-orange-50: var(--color-legacy-orange-50);
  --color-orange-40: var(--color-legacy-orange-40);
  --color-orange-30: var(--color-legacy-orange-30);
  --color-orange-20: var(--color-legacy-orange-20);
  --color-orange-10: var(--color-legacy-orange-10);
  --color-orange-05: var(--color-legacy-orange-05);

  --color-red-90: var(--color-legacy-red-90);
  --color-red-80: var(--color-legacy-red-80);
  --color-red-70: var(--color-legacy-red-70);
  --color-red-60: var(--color-legacy-red-60);
  --color-red-50: var(--color-legacy-red-50);
  --color-red-40: var(--color-legacy-red-40);
  --color-red-30: var(--color-legacy-red-30);
  --color-red-20: var(--color-legacy-red-20);
  --color-red-10: var(--color-legacy-red-10);
  --color-red-05: var(--color-legacy-red-05);

  --color-yellow-90: var(--color-legacy-yellow-90);
  --color-yellow-80: var(--color-legacy-yellow-80);
  --color-yellow-70: var(--color-legacy-yellow-70);
  --color-yellow-60: var(--color-legacy-yellow-60);
  --color-yellow-50: var(--color-legacy-yellow-50);
  --color-yellow-40: var(--color-legacy-yellow-40);
  --color-yellow-30: var(--color-legacy-yellow-30);
  --color-yellow-20: var(--color-legacy-yellow-20);
  --color-yellow-10: var(--color-legacy-yellow-10);
  --color-yellow-05: var(--color-legacy-yellow-05);
  */

  --color-black: var(--wds-color-black);
  --color-black-rgb: 0, 0, 0;
  --color-white: var(--wds-color-white);
  --color-white-rgb: 255, 255, 255;

  --color-amber-90: var(--wds-color-indigo-70);
  --color-amber-80: var(--wds-color-indigo-60);
  --color-amber-70: var(--wds-color-indigo-60);
  --color-amber-60: var(--wds-color-indigo-50);
  --color-amber-50: var(--wds-color-indigo-40);
  --color-amber-40: var(--wds-color-indigo-30);
  --color-amber-30: var(--wds-color-indigo-30);
  --color-amber-20: var(--wds-color-indigo-20);
  --color-amber-10: var(--wds-color-indigo-20);
  --color-amber-05: var(--wds-color-indigo-10);

  --color-blue-90: var(--wds-color-blue-70);
  --color-blue-80: var(--wds-color-blue-60);
  --color-blue-70: var(--wds-color-blue-60);
  --color-blue-60: var(--wds-color-blue-50);
  --color-blue-50: var(--wds-color-blue-40);
  --color-blue-40: var(--wds-color-blue-30);
  --color-blue-30: var(--wds-color-blue-30);
  --color-blue-20: var(--wds-color-blue-20);
  --color-blue-10: var(--wds-color-blue-20);
  --color-blue-05: var(--wds-color-blue-10);

  --color-cyan-90: var(--wds-color-teal-70);
  --color-cyan-80: var(--wds-color-teal-60);
  --color-cyan-70: var(--wds-color-teal-60);
  --color-cyan-60: var(--wds-color-teal-50);
  --color-cyan-50: var(--wds-color-teal-40);
  --color-cyan-40: var(--wds-color-teal-30);
  --color-cyan-30: var(--wds-color-teal-30);
  --color-cyan-20: var(--wds-color-teal-20);
  --color-cyan-10: var(--wds-color-teal-20);
  --color-cyan-05: var(--wds-color-teal-10);

  --color-green-90: var(--wds-color-green-70);
  --color-green-80: var(--wds-color-green-60);
  --color-green-70: var(--wds-color-green-60);
  --color-green-60: var(--wds-color-green-50);
  --color-green-50: var(--wds-color-green-40);
  --color-green-40: var(--wds-color-green-30);
  --color-green-30: var(--wds-color-green-30);
  --color-green-20: var(--wds-color-green-20);
  --color-green-10: var(--wds-color-green-20);
  --color-green-05: var(--wds-color-green-10);

  --color-grey-90: var(--wds-color-neutral-70);
  --color-grey-80: var(--wds-color-neutral-60);
  --color-grey-70: var(--wds-color-neutral-60);
  --color-grey-60: var(--wds-color-neutral-50);
  --color-grey-60-rgb: 101,115, 115;
  --color-grey-50: var(--wds-color-neutral-40);
  --color-grey-40: var(--wds-color-neutral-30);
  --color-grey-30: var(--wds-color-neutral-30);
  --color-grey-20: var(--wds-color-neutral-20);
  --color-grey-10: var(--wds-color-neutral-20);
  --color-grey-05: var(--wds-color-neutral-10);

  --color-orange-90: var(--wds-color-orange-70);
  --color-orange-80: var(--wds-color-orange-60);
  --color-orange-70: var(--wds-color-orange-60);
  --color-orange-60: var(--wds-color-orange-50);
  --color-orange-50: var(--wds-color-orange-40);
  --color-orange-40: var(--wds-color-orange-30);
  --color-orange-30: var(--wds-color-orange-30);
  --color-orange-20: var(--wds-color-orange-20);
  --color-orange-10: var(--wds-color-orange-20);
  --color-orange-05: var(--wds-color-orange-10);

  --color-red-90: var(--wds-color-pink-70);
  --color-red-80: var(--wds-color-pink-60);
  --color-red-70: var(--wds-color-pink-60);
  --color-red-60: var(--wds-color-pink-50);
  --color-red-50: var(--wds-color-pink-40);
  --color-red-40: var(--wds-color-pink-30);
  --color-red-30: var(--wds-color-pink-30);
  --color-red-20: var(--wds-color-pink-20);
  --color-red-10: var(--wds-color-pink-20);
  --color-red-05: var(--wds-color-pink-10);

  --color-yellow-90: var(--wds-color-yellow-70);
  --color-yellow-80: var(--wds-color-yellow-60);
  --color-yellow-70: var(--wds-color-yellow-60);
  --color-yellow-60: var(--wds-color-yellow-50);
  --color-yellow-50: var(--wds-color-yellow-40);
  --color-yellow-40: var(--wds-color-yellow-30);
  --color-yellow-30: var(--wds-color-yellow-30);
  --color-yellow-20: var(--wds-color-yellow-20);
  --color-yellow-10: var(--wds-color-yellow-20);
  --color-yellow-05: var(--wds-color-yellow-10);

  --color-ui-red-10: var(--wds-color-ui-red-10);
  --color-ui-red-40: var(--wds-color-ui-red-40);
  --color-ui-red-60: var(--wds-color-ui-red-60);

  --color-ui-yellow-10: var(--wds-color-ui-yellow-10);
  --color-ui-yellow-40: var(--wds-color-ui-yellow-40);
  --color-ui-yellow-60: var(--wds-color-ui-yellow-60);

  --color-ui-green-10: var(--wds-color-ui-green-10);
  --color-ui-green-40: var(--wds-color-ui-green-40);
  --color-ui-green-60: var(--wds-color-ui-green-60);

  --color-ui-blue-10: var(--wds-color-ui-blue-10);
  --color-ui-blue-40: var(--wds-color-ui-blue-40);
  --color-ui-blue-60: var(--wds-color-ui-blue-60);
}
