// ----------------------------------
// UI Settings
// Colours
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

:root {
  --colour-black: #000;
  --colour-white: #fff;

  --colour-amber-90: #382a00;
  --colour-amber-80: #4d3900;
  --colour-amber-70: #705400;
  --colour-amber-60: #946f00;
  --colour-amber-50: #c29207;
  --colour-amber-40: #e7ae04;
  --colour-amber-30: #fec200;
  --colour-amber-20: #ffe699;
  --colour-amber-10: #fff4d1;
  --colour-amber-05: #fffbf0;

  --colour-blue-90: #002e45;
  --colour-blue-80: #003170;
  --colour-blue-70: #004099;
  --colour-blue-60: #05c;
  --colour-blue-50: #1672f3;
  --colour-blue-40: #4d97ff;
  --colour-blue-30: #80b5ff;
  --colour-blue-20: #b3d2ff;
  --colour-blue-10: #dbeaff;
  --colour-blue-05: #f0f6ff;

  --colour-cyan-90: #002c33;
  --colour-cyan-80: #00424d;
  --colour-cyan-70: #005361;
  --colour-cyan-60: #006272;
  --colour-cyan-50: #009bb2;
  --colour-cyan-40: #71bdd0;
  --colour-cyan-30: #9dd8e7;
  --colour-cyan-20: #beebf4;
  --colour-cyan-10: #dcf4f9;
  --colour-cyan-05: #f1fcfd;

  --colour-green-90: #133800;
  --colour-green-80: #2a512c;
  --colour-green-70: #236126;
  --colour-green-60: #4c8026;
  --colour-green-50: #6ba136;
  --colour-green-40: #8cc059;
  --colour-green-30: #b6d99c;
  --colour-green-20: #e6f1d3;
  --colour-green-10: #f0f9e7;
  --colour-green-05: #f7fcf2;

  --colour-grey-90: #000;
  --colour-grey-80: #292929;
  --colour-grey-70: #5c5c5c;
  --colour-grey-60: #767676;
  --colour-grey-50: #878787;
  --colour-grey-40: #999;
  --colour-grey-30: #b3b3b3;
  --colour-grey-20: #ccc;
  --colour-grey-10: #e6e6e6;
  --colour-grey-05: #f2f2f2;

  --colour-orange-90: #331e0f;
  --colour-orange-80: #572b00;
  --colour-orange-70: #8a471e;
  --colour-orange-60: #b45c04;
  --colour-orange-50: #f07f0a;
  --colour-orange-40: #ffa64d;
  --colour-orange-30: #ffbf80;
  --colour-orange-20: #ffd9b2;
  --colour-orange-10: #ffeddb;
  --colour-orange-05: #fff7f0;

  --colour-red-90: #40120d;
  --colour-red-80: #6c131d;
  --colour-red-70: #b3001e;
  --colour-red-60: #e10f2d;
  --colour-red-50: #e72343;
  --colour-red-40: #f04763;
  --colour-red-30: #f2637b;
  --colour-red-20: #ed858e;
  --colour-red-10: #f9cdca;
  --colour-red-05: #fff0f2;
  
  --colour-yellow-90: #3d3800;
  --colour-yellow-80: #574f00;
  --colour-yellow-70: #706601;
  --colour-yellow-60: #817818;
  --colour-yellow-50: #bfa70d;
  --colour-yellow-40: #ffea00;
  --colour-yellow-30: #fff266;
  --colour-yellow-20: #fff9a6;
  --colour-yellow-10: #fffde2;
  --colour-yellow-05: #fffef0;

  --link-colour: var(--colour-blue-60);
  --link-colour-hover: var(--colour-blue-70);
  --link-colour-focus-outline: var(--colour-blue-40);
  --link-colour-active: var(--colour-blue-50);
  --link-colour-disabled: var(--colour-grey-50);

  --body-text-colour: var(--colour-grey-80);
  --meta-text-colour: var(--colour-grey-60);
}
