// ----------------------------------
// UI Settings
// Typography
// https://www.sketch.com/s/0e43fb67-e700-4c05-a0db-a7dad402bcc3/a/v8QlPq3#Inspector
// ----------------------------------
// Design System 1.0 Alpha
// 2021-05-01
// ----------------------------------

:root {
  // font family
  --font-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  // alt font stack removes odd line-height issue encountered with Helvetica Neue
  --font-primary-alt: Helvetica, Arial, sans-serif;
  --font-secondary: 'Wellcome-Bold', sans-serif;
  --font-tertiary: 'Courier New', Courier, monospace;

  // body font size (1rem = 16px browser default)
  --font-size-base: 1rem;
  --font-size-base-px: 16; // required for sass calculations

  // font size - non-responsive body text
  --font-size-body-xl: calc(24/16 * var(--font-size-base));
  --font-size-body-lg: calc(20/16 * var(--font-size-base));
  --font-size-body-md: var(--font-size-base);
  --font-size-body-sm: calc(14/16 * var(--font-size-base));
  --font-size-body-xs: calc(12/16 * var(--font-size-base));

  // font size responsive headings
  --font-size-heading-xxl: calc(32/16 * var(--font-size-base));
  --font-size-heading-xl: calc(24/16 * var(--font-size-base));
  --font-size-heading-lg: calc(22/16 * var(--font-size-base));
  --font-size-heading-md: calc(18/16 * var(--font-size-base));
  --font-size-heading-sm: var(--font-size-base);
  --font-size-heading-xs: calc(14/16 * var(--font-size-base));

  // font weight
  --font-weight-heading: 500;

  // letter spacing
  --letter-spacing-body: 0.4px;
  --letter-spacing-heading-major: -0.5px;
  --letter-spacing-heading-minor: 0.2px;

  // line height
  --line-height-body: 1.6;
  --line-height-heading: var(--line-height-body);

  @include mq(sm) {
    --font-size-heading-xl: calc(32/16 * var(--font-size-base));
    --font-size-heading-lg: calc(24/16 * var(--font-size-base));
    --font-size-heading-md: calc(20/16 * var(--font-size-base));
  }

  @include mq(md) {
    --font-size-heading-xxl: calc(40/16 * var(--font-size-base));
  }
}
