* {
  box-sizing: border-box;
}

// body vars
body {
  color: var(--colour-grey-80);
  font-family: var(--font-primary);
  font-size: var(--text-base-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height-md);
}

a {
  @include anchor-base;
}

button {
  appearance: none;
  background: transparent;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-base;
}

h1 {
  @include heading-xl;
}

h2 {
  @include heading-lg;
}

h3 {
  @include heading-md;
}

h4 {
  @include heading-sm;
}

h5,
h6 {
  @include heading-xs;
}
