// ----------------------------------
// UI Theme
// Colours
// ----------------------------------
// Design System 1.0 Alpha
// 2021-05-01
// ----------------------------------

:root {
  --colour-link: var(--colour-grey-80);
  --colour-link-active: var(--colour-grey-80);
  --colour-link-focus: var(--colour-grey-80);
  --colour-link-hover: var(--colour-grey-80);
  --colour-link-disabled: var(--colour-grey-40);

  --colour-link-focus-outline: var(--colour-blue-50);

  --colour-text-body: var(--colour-grey-80);
  --colour-text-meta: var(--colour-grey-60);
}
