// ----------------------------------
// UI Theme
// Colours
// ----------------------------------
// Design System 1.0 Alpha
// 2021-05-01
// ----------------------------------

:root {
  --link-colour: var(--colour-grey-80);
  --link-colour-hover: var(--colour-grey-80);
  --link-colour-focus-outline: var(--colour-blue-50);
  --link-colour-active: var(--colour-grey-80);
  --link-colour-disabled: var(--colour-grey-40);

  --body-text-colour: var(--colour-grey-80);
  --meta-text-colour: var(--colour-grey-60);
}
