// ----------------------------------
// UI Theme
// Colours
// ----------------------------------
// Design System 1.0 Alpha
// 2021-05-01
// ----------------------------------

:root {
  --bgcolour-button-primary: var(--colour-amber-30);
  --bgcolour-button-primary-active: var(--colour-amber-30);
  --bgcolour-button-primary-focus: var(--colour-amber-30);
  --bgcolour-button-primary-hover: var(--colour-amber-20);
  --bgcolour-button-primary-disabled: var(--colour-grey-20);

  --bgcolour-button-secondary: var(--colour-amber-20);
  --bgcolour-button-secondary-active: var(--colour-amber-20);
  --bgcolour-button-secondary-focus: var(--colour-amber-20);
  --bgcolour-button-secondary-hover: var(--colour-amber-10);
  --bgcolour-button-secondary-disabled: var(--colour-grey-10);

  --bgcolour-button-tertiary: transparent;
  --bgcolour-button-tertiary-active: var(--colour-amber-10);
  --bgcolour-button-tertiary-focus: transparent;
  --bgcolour-button-tertiary-hover: var(--colour-amber-05);
  --bgcolour-button-tertiary-disabled: transparent;

  --colour-button-primary: var(--colour-grey-80);
  --colour-button-primary-active: var(--colour-grey-80);
  --colour-button-primary-focus: var(--colour-grey-80);
  --colour-button-primary-hover: var(--colour-grey-80);
  --colour-button-primary-disabled: var(--colour-grey-40);

  --colour-button-secondary: var(--colour-grey-80);
  --colour-button-secondary-active: var(--colour-grey-80);
  --colour-button-secondary-focus: var(--colour-grey-80);
  --colour-button-secondary-hover: var(--colour-grey-80);
  --colour-button-secondary-disabled: var(--colour-grey-40);

  --colour-button-tertiary: var(--colour-grey-80);
  --colour-button-tertiary-active: var(--colour-grey-80);
  --colour-button-tertiary-focus: var(--colour-grey-80);
  --colour-button-tertiary-hover: var(--colour-grey-80);
  --colour-button-tertiary-disabled: var(--colour-grey-40);

  --colour-link: var(--colour-grey-80);
  --colour-link-active: var(--colour-grey-80);
  --colour-link-focus: var(--colour-grey-80);
  --colour-link-hover: var(--colour-grey-80);
  --colour-link-disabled: var(--colour-grey-40);

  --colour-link-focus-outline: var(--colour-blue-50);

  --colour-text-body: var(--colour-grey-80);
  --colour-text-meta: var(--colour-grey-60);
}
