// ----------------------------------
// UI Tools
// Mixins
// Buttons
// ----------------------------------
// Design System 1.0 Alpha
// 2021-05-01
// ----------------------------------

@mixin btn-base {
  align-items: center;
  background: transparent;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  letter-spacing: var(--letter-spacing-body);
  line-height: 1;
  padding: 0;
  text-decoration: none;
  
  &:hover {
    text-decoration: none;
  }
}

@mixin btn-size-standard {
  height: calc(5.5 * var(--space-unit));
  justify-content: center;
  min-height: calc(5.5 * var(--space-unit));
  min-width: calc(5.5 * var(--space-unit));
  text-align: center;
}
