
// ----------------------------------
// UI Tools
// Mixins
// Typography
// ----------------------------------
// Design System 1.0 Alpha
// 2021-05-01
// ----------------------------------

@mixin anchor-base {
  color: var(--link-color);
  text-decoration: underline;

  &:hover {
    color: var(--link-color-hover);
  }

  &:active {
    color: var(--link-color-active);
  }

  &:focus {
    color: var(--link-color-active);
    outline-color: var(--color-link-focus-outline);
    outline-offset: calc(0.5 * var(--space-unit));
  }

  [disabled],
  &:not([href]) {
    color: var(--link-color-disabled);
  }
}

@mixin anchor-reverse {
  text-decoration: none;

  @include hocus {
    text-decoration: underline;
  }
}

@mixin anchor-inherit {
  color: inherit;

  @include hocus {
    color: inherit;
  }
}

@mixin list-item-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
  }

  &:focus,
  &:active {
    color: var(--link-color-active);
    text-decoration: underline;
  }

  &:focus {
    outline-color: var(--color-link-focus-outline);
  }

  [disabled],
  &:not([href]) {
    color: var(--link-color-disabled);
  }
}

/* Font Sets */

@mixin heading-base {
  line-height: var(--line-height-heading);
  margin-top: 0;
}

/* Wellcome Design System type styles */
// equivalent to a theoretical <h0>
@mixin heading-xxl {
  font-size: var(--font-size-heading-xxl);
  letter-spacing: var(--letter-spacing-heading-major);
  margin-bottom: var(--space-xl);
}

// equivalent to <h1>
@mixin heading-xl {
  font-size: var(--font-size-heading-xl);
  letter-spacing: var(--letter-spacing-heading-major);
  margin-bottom: var(--space-lg);
}

// equivalent to <h2>
@mixin heading-lg {
  font-size: var(--font-size-heading-lg);
  font-weight: var(--font-weight-heading);
  letter-spacing: var(--letter-spacing-heading-minor);
  margin-bottom: var(--space-lg);
}

// equivalent to <h3>
@mixin heading-md {
  font-size: var(--font-size-heading-md);
  font-weight: var(--font-weight-heading);
  letter-spacing: var(--letter-spacing-heading-minor);
  margin-bottom: var(--space-lg);
}

// equivalent to <h4>
@mixin heading-sm {
  font-size: var(--font-size-heading-sm);
  font-weight: var(--font-weight-heading);
  letter-spacing: var(--letter-spacing-heading-minor);
  margin-bottom: var(--space-md);
}

// equivalent to <h5>
@mixin heading-xs {
  font-size: var(--font-size-heading-xs);
  font-weight: var(--font-weight-heading);
  letter-spacing: var(--letter-spacing-heading-minor);
  margin-bottom: var(--space-md);
}

// equivalent to <p>
@mixin body-lg {
  margin-bottom: calc(4 * var(--space-unit));
}

// equivalent to <p> in infobox
@mixin body-md {
  margin-bottom: calc(2 * var(--space-unit));
}
